In [2]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [22]:
df.to_csv('My_output', index=False)

In [30]:
pd.read_csv('My_output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [1]:
pd.read_excel('Excel_Sample.xlsx', sheet_name='Sheet1')

NameError: name 'pd' is not defined

In [ ]:
df.to_excel('Excel_Sample2.xlsx', sheet_name=)