In [5]:
import numpy as np
import pandas as pd

In [9]:
d = {'A': [1,2,np.nan], 'B':[5, np.nan, np.nan], 'C':[1,2,3]}
df = pd.DataFrame(d)

df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [12]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [13]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [14]:
df.fillna(value='Filled')

        A       B  C
0     1.0     5.0  1
1     2.0  Filled  2
2  Filled  Filled  3

In [20]:
df['A'].fillna(value=df['B'].mean())

0    1.0
1    2.0
2    5.0
Name: A, dtype: float64